<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.zup.minha__musica_favorita">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mundo_bita"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minha__Musica_Favorita"
        tools:targetApi="31">
        <activity
            android:name=".LetraMusicaActivity"
            android:exported="false" />
        <activity
            android:name=".informacoes.music.view.MusicaActivity"
            android:exported="true" />
        <activity
            android:name=".informacoes.album.view.AlbumActivity"
            android:exported="true" />
        <activity
            android:name="br.com.zup.minha__musica_favorita.informacoes.detalhe.view.DetalheActivity"
            android:exported="true" />
        <activity
            android:name=".informacoes.DetallheActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".home.view.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>